* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: black;
}
.vid {
  height: 100vh;
}

.vid video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.text {
  position: absolute;
  top: 50%;
  left: 5%;
  color: white;
  background-color: transparent;
  width: 40%;
}

section {
  height: 60vh;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  padding-left: 5%;
  font-size: 60px;
}
/* Initially hide text2 */
#t2,
#t3,
#t4 {
  opacity: 0;
}

/* Define the styles for the "show" class */
.show {
  opacity: 1 !important;
  transition: opacity 1s; /* Add a transition effect for a smooth appearance */
}
